<html>
  <head>
    <title>Tippr OpenID Example</title>
  </head>
  <body>
    <p>
    This is a Django package which implements an OpenID server and consumer,
    using the assumptions and protocol extensions leveraged by Tippr for
    partner login. It is based on the djopenid codebase from Janrain.
    </p>

    <p>
    To begin, click one of these links:
    </p>

    <ul>
      <li><a href="{{ consumer_url }}">Tippr (Relying Party)</a></li>
      <li><a href="{{ server_url }}">Partner (Identity Provider)</a></li>
    </ul>

    <p>
    <strong>Note:</strong> If you want to test the example consumer
    using the example server, you must start a separate server process
    for each application.
    </p>
  </body>
</html>
